.footer {
  position: fixed;
  bottom: 0;
  width: max-content;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 1;

    a {
      text-decoration: underline;
    }
  }
}
